.state path, circle{
  fill: white;
  stroke: black;
  stroke-width: 1px;
  transition: stroke 0.1s, fill 0.1s;
}

.borders path{
  stroke: black;
  stroke-width: 0px;
}

mat-slider{
  width: 500px;
}
