<mat-form-field appearance="fill">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [rangePicker]="rangePicker" [min]="minDate" [max]="maxDate">
    <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
    <input matEndDate placeholder="End date" [(ngModel)]="endDate" (dateChange)="updateGraphDateRange($event.target.value)">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
  <mat-date-range-picker #rangePicker></mat-date-range-picker>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Data To Show</mat-label>
  <mat-select [(value)]="selectedDataOption" (selectionChange)="updateGraphDataType()"> <!--/*updateSelectedData($event.value)*/-->
    <mat-option *ngFor="let option of dataOptions" [value]="option.id">
      {{option.title}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Statistic</mat-label>
  <mat-select [(value)]="selectedSpread" (selectionChange)="updateGraphDataStat()">
    <mat-option *ngFor="let option of spreadOptions" [value]="option.id">
      {{option.title}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>States to Graph</mat-label>
  <mat-select [(value)]="selectedStates" multiple (selectionChange)="updateGraphDataStates()">
    <mat-option *ngFor="let s of statesAndUs" [value]="s">{{stateNames[s]}}</mat-option>
  </mat-select>
</mat-form-field>

<main>
  <div style="display: block;" id="graph">
    <canvas baseChart
            (chartClick)="chartClicked($event)"
            [datasets]="graphData"
            [labels]="graphLabels"
            [options]="graphOptions"
            [legend]="true"
            [plugins]="lineChartPlugins"
            [chartType]="'line'">
    </canvas>
  </div>
  <div>
    <span id="map-date">{{formatDate(mapDate)}}</span><br>
    <span id="map-us">US Total: {{usData}}</span>
    <div id="map-chart">
      <app-states-map [data]="selectedData"></app-states-map>
    </div>
  </div>

</main>



