//#map-chart{
//  display:flex;
//}

main{
  display: grid;
  grid-template-columns: 50vw auto;
}

canvas{
  height: 100%;
}

#map-date{
  font-size: 20px;
  font-weight: bold;
}

mat-form-field{
  margin-right: 10px;
}

.labelBeforeSlide {
  vertical-align: center;
  line-height: 24px;
  margin-right:0.5rem;
  margin-bottom:0.5rem;
}
